<style type="text/css">

html, body, p, h1, h2  {
  font-family: Verdana, sans-serif;
   
}

h1, h2 {
  color: gray;
  text-align: center;
}

.top {
  padding-right: 1%;
  text-align="right"
}


img {
    display: block;
    align-content: center;
    margin: auto;
    width: 80%;    
}

.boxed1, .caption {
  padding: 2em 1em .5em .5em;
  margin:auto;
  width: 75%;
  background-color: lightgray;
  box-align: center;  
} 

.caption {
  font-size: small;  
  text-align: center;
}


.boxed2 {
  padding: .5em .5em 1em 1em;
  margin:auto;
  width: 90%;
  background-color: lightgray;
  box-align: center;  
} 


table {
    border-collapse: collapse;
    width: 90%;
}

th {
    height: 50px;  
  font-weight: bold;

}

td {
    font-size: small;  
    text-align: center;
}


.header2,.footer {
  display: block;
    background-color: grey;
    color: white;
    margin: 1% 1%;
    padding: 5px;
}
 */
</style>